body {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 2%;
    height: 2%;
    float: left;
    padding-top: 5px;
}

.header {
    width: 100%;
    height: auto;
    text-align: right;
    background-color: #0A0A0A;
}

.left-menu {
    float: left;
}

.l-list-s {
    background-color: #18191A;
    float: left;
}

.l-list-u {
    background-color: #212121;
    float: right;
}

.account {
    background-color: #0A0A0A;
}

.content {
    background-color: #3A3B3C;
    padding: 1%;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 1% 0 1% 0;
    font-size: small;
    background-color: #0A0A0A;
}

ul {
    list-style-type: none;
    padding: 5%;
}

ol {
    color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: auto;
    line-height: 200%;
    /*display: block;*/
    display: inline-block;
}

ol > li {
    width: auto;
    padding-left: 10px;
    height: 40px;
    float: left;
}

ol > li:hover {
    background-color: #0A0A0A;
}

ol > li:hover > a {
    color: gray;
}