/*Discerd Copyrights*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body, html {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 !important;
    background-color: #36393f;
}

.error {
    color: #ff0000;
}

.info {
    color: #17e817;
}